h2 {
    color: greenyellow;
    font-size: 28;
    background-color: black;
    font-family: cursive;
}

p {
    font-size: 22;
}

li {
    font-size: 22;
}

a {
    color: yellowgreen;
    text-decoration: none;
}

a:hover {
    color: #f0c;
    text-decoration: underline;
}



#leistungen {
    display: grid;
    grid-template-columns: 1fr 12em;
}

#leistungen h2 {
    grid-column: 1/-1;
}

body {
    max-width: 60em;
    margin: 1em auto;
    background-color: beige;
}

h1 {
    font-family: cursive;
}

.test {
    color: #0012ff
}


.container {
    display: flex;
    margin: -10px;
    flex-wrap: wrap;

}


.kachel {
    background-color: greenyellow;
    margin: 12px;
    padding: 1em;
    width: 10em;
    height: 10em;
    overflow: hidden;
    border-radius: 10px;
}

.kachel:hover {
    box-shadow: #b3b39c 2px 10px 20px;
    border: 2px solid #113311;
    margin: 10px
}

.kachel.wide {
    width: 13em;
}

.kachel.small {
    width: 7em;
}

.kachel p {
    color: red;
}

.kachel h3 {
    font-size: 2em;
    font-variant: small-caps;
    color: red;
}

.BilderContainer {
    display: flex;
    margin: -10px;
    flex-wrap: wrap;
}

@media (max-width: 980px) {
    body {
        padding: 1em;
        font-size: 4em;
    }

    p {
        color: #ff0000;
        font-size: 70px;
    }

    li {
        font-size: 70px;
    }

    h2 {
        font-size: 70px;
    }

    image {
        width: 300px;
        height: 300px;
    }

    .kachel {
        width: 8em;
    }

    .kachel.wide {
        width: 11em;
    }

    .kachel.small {
        width: 5em;
    }
}